#main-header{
    height: 100px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#main-header h1{
    margin-left: 30px;
}
#main-header h1 img{
    height: 80px;
    line-height: 100px;
}

#gnb{
    margin-right: 30px;
}

#gnb > ul{
    display: flex!important;
    line-height: 100px;
}

#gnb ul li{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
}

#gnb ul li a{
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

#gnb ul li:hover a{
    color:var(--main-color);
}

#toggle-btn{
    display: none;
}


/*section1 더본코리아*/
#section1{
    width: 100%;
    height: calc(100vh - 0px);
    color:#fff;
    background-image: url(../images/section1-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

#section1 .container{
    width: 100%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

#section1 .container .red-box{
   background: #d50513;
   width: 300px;
   height: 60px;
   position: absolute;
   top: -30%;
   left:50%;
   transform: translate(-50%,-50%);
   text-align: center;

}

#section1 .container .red-box h2{
    line-height: 60px;
    font-size: 20px;
    font-weight: 600;
}

#section1 .container > h2{
    font-size: 50px;
}

.whiteline{
    width: 200px;
    border-bottom: 2px solid #fff;
    position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%,-50%);
   text-align: center;
}

#section1 .container p{
    margin-top: 50px;
    white-space: pre-line;
}


/*section2 CEO*/
#section2{
    width: 100%;
    height: calc(100vh - 100px);
    color: #fff;
    background-image: url(../images/section2-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

#section2 .container{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 80%;
}

#section2 .container .redline{
    width: 40px;
    height: 10px;
    background: #d50513;
    margin-bottom: 10px;
}

#section2 .text-box p{
    white-space: pre-line;
    margin-bottom: 30px;
    font-size: 18px;
    width: 100%;
}
#section2 .text-box h3{
    font-size: 24px;
}

/*section 3 brand*/

#section3{
    width: 100%;
    height: calc(100vh - 100px);
    color: #333;
    background: #e8e8e8;
    text-align: center;
    position: relative;
    background-size: cover;
}

#section3 h2{
    padding-top: 20px;
    font-size: 30px;
}
#section3 .container{
    position: absolute;
    width: 100%;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#section3 .brand{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

#section3 .brand .brand-box{
    background: #e8e8e8;
    margin-top: 80px;
    width: 300px;    
}

#section3 .brand .brand-box:hover{
    background: #fff;
    border-radius: 20px;
}


/*section4 World The BORN*/

#section4{
    width: 100%;
    height: calc(100vh - 100px);
    color: #fff;
    background-image:url(../images/section4-bg.jpg);
    text-align: center;
    position: relative;
    background-size: cover;
    background-position: center;
}

#section4 .world-map{
    width: 100%;
}
#section4 h2{
    font-size: 30px;
    padding-top: 30px;
    margin-bottom: 40px;
}
#section4 .s4-redline{
    border-bottom: 2px solid #d50513;
    width: 350px;
    position: absolute;
    top: 10%;
    left:50%;
    transform: translate(-50%,-50%);
}

#section4 .text-box p{
    white-space: pre-line;
    font-size: 16px;
}

#section4 .world-map > img{
    width: 80%;
    position: absolute;
    top:65%;
    left:50%;
    transform: translate(-50%,-50%);

}

#section4 .round{
    width: 20px;
    height: 20px;
    background: #d50013;
    border-radius: 50%;
    position: relative;
}



#section4 .world-map .world-brand{
    background: #e8e8e8;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 20px;
    width: 150px;
    height: 200px;
    display: none;
    z-index: 800;
}


#section4 .world-brand img{
    width: 130px;
    margin-top: 12px;
}

#section4 .round:hover{
    background: #fff;
    border: 3px solid #d50513;

}

#section4 .round:hover .world-brand {
    display: block; 
}

#section4 .world-map .country-1{
    position: absolute;
    left:44%;
    top: 51%;
}

#section4 .world-map .country-2{
    position: absolute;
    left: 68%;
    top:50%;
}

#section4 .world-map .country-3{
    position: absolute;
    left:35%;
    top:50%
}

#section4 .world-map .country-4{
    position: absolute;
    left:38%;
    top:69%;
}

#section4 .world-map .country-5{
    position: absolute;
    left:20%;
    top:48%;
}

#section4 .mobile-global{
    display: none;
}

/*section5 창업&채용*/
#section5{
    width: 100%;
    height: calc(100vh - 100px);
    color: #333;
    background-image:url(../images/section5-bg.jpg);
    text-align: center;
    position: relative;
    background-size: cover;
    background-position: center;
}

#section5 .container{
    width: 100%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    justify-content: center;
    align-items: center;
}


#section5 .container > h2{
    font-size: 40px;
}



#section5 .container p{
    margin-top: 50px;
    white-space: pre-line;
}

.icon-box{
    display: flex;
    margin-left: 32%;
    margin-top: 70px;
    
    
}

.icon-1{
    margin-right: 100px;
}

.icon-1, .icon-2{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.icon-1:hover, .icon-2:hover{
    border:5px solid #333;
}

.icon-box img{
    width: 200px;
    margin-top: 50px;
}

